* {
  box-sizing: border-box;
  font-family: Gotham, sans-serif;
}

.pill-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  height: 38px;
  border: 1px solid #000000;
  border-radius: 20px;
  text-transform: uppercase;
  background: white;
  cursor: pointer;
}

.pill-btn.active,
.pill-btn:hover {
  background: #000000;
  color: white;
}

:root {
  --sp-1: 4px;
  --sp-2: 8px;
  --sp-3: 16px;
  --sp-4: 32px;
  --sp-5: 64px;
  --sp-6: 128px;
  --sp-7: 256px;
}